xterm*faceName: JetBrains Mono:size=15 
!XTerm.vt100.faceName: Monospace::antialias=true:size=15
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm*selectToClipboard:true
XTerm*SaveLines: 2000
XTerm*rightScrollBar: flase
XTerm*ScrollBar: false
XTerm*scrollTtyOutput: false
XTerm.termName: xterm-256color
xterm*metaSendsEscape: true
XTerm*vt100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
! Background and Foreground
xterm*highlightSelection: true
xterm*trimSelection: true
xterm*saveLinew: 4096
xterm*renderFont: true
xterm*faceSize: 14
xterm*background: #262626
xterm*foreground: #ebdbb2
xterm*color0: #262628
xterm*color8: #928374
xterm*color1: #CC241D
xterm*color9: #fb4934
xterm*color2: #98971a
xterm*color10: #b8bb26
xterm*color3: #FF8F15
xterm*color11: #FFAF00
xterm*color4: #458588
xterm*color12: #83a598
xterm*color5: #b16286
xterm*color13: #d3869b
xterm*color6: #689d6a
xterm*color14: #8ec07c
xterm*color7: #a89984
xterm*color15: #ebdbb2xterm*resize
xterm*resizeGravity: SouthEast                                                                         ▐
xterm*dynamicColors: true
xterm*autoWrap: true
xterm*scaleHeight: 1.01
xterm*faceSizeStep: 0.6
xterm*allowWindowOps: true
*loginShell: true
*geometry: 100
*TrimSelection: true
*charClass: 33:48,37:48,43-47:48,64:48


